./stats/node_modules
./stats/build
./sort/node_modules
./sort/build
./maps/node_modules
./maps/.cache
./maps/dist
./fetchjson/node_modules
./web/node_modules
./web/.cache
./web/dist
.DS_Store
.idea
.~/build